:root {
	--dark-grey: #333;
}

div.game-UI {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

/*----------------------------------------------------------------*/

div.data {
	--op: 0.2;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	gap: 0.3rem;
	background-color: #eee;
	padding: 0.5rem;
}

div.data:before{
	content: "{";
	opacity: var(--op);s
}

div.data:after{
	content: "}";
	opacity: var(--op);
}

div.data > div.entry {
	display: flex;
	flex-direction: row;
	opacity: var(--op);
	transition: all 0.2s ease-in;
	cursor: pointer;
}

div.data > div.entry:hover {
	opacity: 1.0;
}

div.data > div.entry > div.key{
	padding-left: 1rem;
	color: #707;
}

div.data > div.entry > div.values{
	margin-left: 0.35rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

div.data > div.entry > div.values > div.value{
	color: #f0f;
}

/*----------------------------------------------------------------*/

div.board {
	position: relative;
	width: 40%;
	max-width: 300px;
	aspect-ratio: 1;
}

div.overlay {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
	top: 0;
	left: 0;
	background-color: rgba(238, 238, 238, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div.overlay > p {
	font-size: 1.6rem;
}

div.game {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
 	grid-template-rows: repeat(3, 1fr);
 	border: solid 5px #555;
}

div.game > div.cell {
	position: relative;
	display: flex;
	cursor: pointer;
}

div.game > div.cell:nth-child(2n) {
	background-color: #555;
}
div.game > div.cell:nth-child(2n-1) {
	background-color: #eee;
}

div.game > div.cellClicked:after {
	content: "";
	width: 100%;
	background-color: #f0f;
	opacity: 0.3;
}

div.game > div.cell.p1 {
	background-image: url("images/P1.png");
}

div.game > div.cell.p2 {
	background-image: url("images/P2.png");
}

div.board > div.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	margin-top: 0.5rem;
}

div.board > div.btns > * {
	cursor: pointer;
}


/*----------------------------------------------------------------*/

dialog {
    position: relative;
    border: 5px solid var(--dark-grey);
    border-top-width: 0px;
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    max-width: 450px;
/*    color: var(--dark-grey);*/
    padding: 0 !important;
    outline: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog a:focus {
    outline: none;
}

dialog > .banner {
    all: unset;
    position: relative;
    background: var(--dark-grey);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2rem;
}

dialog > .banner > i{
    display: inline-block;
    position: relative;
    right: 2px;
    color: white !important;
    cursor: pointer;
}

dialog > .nav {
    color: #fff;
    position: relative;
    background: var(--dark-grey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

dialog > .nav > * {
    position: absolute;
    cursor: pointer;
}

dialog > .nav  i{
    display: inline-block;
    color: white !important;
    margin: 0 0.2rem;
}

dialog > .nav > .next {
    right: 0;
}

dialog > .nav > .prev {
    position: absolute;
    left: 0;
}

dialog > p {
    margin: 1rem;
}

dialog > h3 {
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    text-decoration: none;
}