div.game-UI {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

div.data {
	--op: 0.2;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	gap: 0.3rem;
	background: #eee;
	padding: 0.5rem;
}

div.data:before{
	content: "{";
	opacity: var(--op);s
}

div.data:after{
	content: "}";
	opacity: var(--op);
}

div.data > div.entry {
	display: flex;
	flex-direction: row;
	opacity: var(--op);
	transition: all 0.2s ease-in;
}

div.data > div.entry:hover {
	opacity: 1.0;
}

div.data > div.entry > div.key{
	padding-left: 1rem;
	color: rgb(150, 0, 150);
}

div.data > div.entry > div.values{
	margin-left: 0.35rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

div.data > div.entry > div.values > div.value{
	color: rgb(255, 0, 255);
}

div.game {
	width: 40%;
}